.wrapper{
    height: 100vh;
    background-color: rgb(230, 233, 236);
}
.section-wrapper{
    display: flex;
    height: 100%;
}
.search-bar {
    display: flex;
    justify-content: center;
    margin: 8px 0 27px;
    position: relative;
}
.search-bar span{
    position: absolute;
    top: 9px;
    right: 27px;
}

.search-bar input{
    width: 90%;
    background: #ededed;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 12px;
    font-size: 13px;
}

.user-list-section{

    padding: 8px 0;
    overflow: auto;
}
.user-list-section img{
    object-fit: cover;
}
.side-bar{
    background: #ffffff;
    width: 24%;
    padding: 14px 0px;
}
.chat-section{
    width: 100%;
    background: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user{
    padding: 6px 18px;
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}
.user p{
    font-weight: 400;
    margin: 0;
    font-size: 14px;
}
.user img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid #c5c5c5;
    /* border: 3px solid var(--primary-theme-color); */
}

.chat-canvas{
    /* height: 65vh; */
    overflow: auto;
}

.receiver-message{
  
    background-color: #dadadd;
    margin: 1px 10px;
    padding: 6px 13px;
    border-radius: 20px;
    color: rgb(29, 29, 29);
    display: inline-block;
    font-size: .9375rem;
}
.sender-message{

    background-color: var(--primary-theme-color) !important;;
    margin: 1px 10px;
    padding: 6px 13px;
    border-radius: 20px;
    color: white;
    display: inline-block;
    font-size: .9375rem;
}
.name-header{
    padding: 16px 23px;
  
    border-radius: 11px 11px 0 0;
    font-weight: 500;
    box-shadow: 1px 1px 7px -5px;
}
.name-header img{
    width: 29px;
    height: 29px;
    border-radius: 50%;
    object-fit: cover;
}
.selected{
    background: var(--primary-theme-color);
}
.selected p{
    color: white;
}
.writting-section{
    margin: 0px 0px 0px;
    padding: 0 7px;
    width: 100%;
}
.send-btn{
    font-size: 21px;
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 16px;
    right: 21px;
}
.send-btn i{

    color: var(--primary-theme-color) !important;

}
.send-btn i{
    font-size: 23px;
}
.writting-section input{
    border-radius: 23px;
}
.nav-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 27px 12px;
}
.nav-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item-container a{ 
    cursor: pointer;
}
.nav-item-container i{ 
    font-size: 27px;
    color: var(--primary-theme-color);
}
.nav-profile img{
    width: 39px;
    border-radius: 50%;
}
.nav-profile {
    position: relative;
}
.nav-profile a{
    cursor: pointer;
}

.profile-card {
    position: absolute;
    top: -101px;
    right: -108px;
    width: max-content;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
    z-index: 1;
 
    width: 9rem;
}
.profile-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: all .3s ease-in-out;
}
.profile-item a,i{
    text-decoration: none;
    color: rgb(70, 70, 70);
}

.profile-item:hover{
    background-color: #e9e9e9;
}

.side-bar-section-header{
    font-size: 14px;
    padding: 0px 20px;
    color: #606060;
}
.text-field{
    font-size: 14px;
}
.active-status{
    background: #03b900;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    display: inline-block;
    position: absolute;
    bottom: 1px;
    right: -1px;
    border: 2px solid white;
}

.rich-text-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
  }
  
  .output {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
  }
  .editor-wrapper {
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .toolbar-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #0056b3;
  }
  .quill-editor{
    width: 100%;
    /* background: white; */
  }

::ng-deep .ql-container {
  border-radius: 0 0 9px 9px;  
  border: 2px solid #ccc;  
  background-color: white;  
}

::ng-deep .ql-editor {
  border-radius: 12px; 
  background-color: white;  
}

::ng-deep .ql-toolbar.ql-snow{
    border-radius: 9px 9px 0 0;
    background: #2b2b2b;
}

::ng-deep .ql-snow .ql-stroke{
    stroke: white;
}
::ng-deep .ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill{
    fill: white;
}
::ng-deep .ql-snow .ql-picker{
    color: white;
}

::ng-deep .ql-snow .ql-picker{
    color: rgb(255, 255, 255);
}
::ng-ddep .ql-snow .ql-picker-options .ql-picker-item{
    color: rgb(255, 255, 255);
}
  
::ng-deep .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options{
    background: #2b2b2b;
}
::ng-deep .ql-snow.ql-toolbar .ql-picker-item.ql-selected{
    color: #c5c5c5;
}
::ng-deep .ql-snow.ql-toolbar .ql-picker-item:hover{
    color: #c5c5c5;
}
::ng-deep .ql-snow.ql-toolbar .ql-picker-label:hover{
    color:white;
}
::ng-deep .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke{
    color:white;
    stroke: white;
}
::ng-deep .ql-snow.ql-toolbar .ql-picker-item:active{
    color: #c5c5c5;
}
::ng-deep .ql-snow.ql-toolbar .ql-picker-label:active{
    color:white;
}
::ng-deep .ql-snow.ql-toolbar .ql-picker-label:active .ql-stroke{
    color:white;
    stroke: white;
}
::ng-deep .ql-snow.ql-toolbar button:hover .ql-stroke{
    stroke: white;
}

::ng-deep .ql-snow.ql-toolbar button:hover{
    color: white;
}
::ng-deep .ql-snow.ql-toolbar button:hover .ql-fill{ 
    fill: white;
}

::ng-deep .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill{
    fill: white;
}
::ng-deep .ql-snow.ql-toolbar .ql-picker-label.ql-active{
    color: white;
}
::ng-deep .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke{
    stroke: white;
}
::ng-deep .ql-snow.ql-toolbar button.ql-active{
    color: white;
}










  

/* Media query for mobile screens */
/* @media (max-width: 768px) {
    .user-list-section{
        width: 100%;
    }
    .chat-section{
        width: 100%;
    }
    .section-wrapper{
        gap: 0px;
    }
    .writting-section{
        margin: 14px 0;
        padding: 0 9px;
        width: 100%;
    }

    
    
} */

  


