<section class="auth-background">
  <form [formGroup]="loginForm" >
    <div class="auth-section">
      <div class="login-container glass-effect">
        <div class="row mb-3 login-header">
          <div class="col-12 text-center text-white fs-4">Login</div>
        </div>
        <div class="row">
  
          <div class="col-12">
            <input formControlName="userName" placeholder="User Name" type="text"autocomplete="new-password" class="form-control input-style">
          </div>
        </div>
        <div class="row mt-3">

          <div class="col-12">
            <input formControlName="password" placeholder="Password" type="password" autocomplete="new-password"  class="form-control input-style">
          </div>
        </div>
        
        <div class="row mt-2">
          <div class="col-12 text-end mt-3">
            <button class="btn btn-primary btn-glass" (click)="onSubmit()">Login</button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <p class="goto-register">Don't have an account? <span class="border-bottom pointer-cursor" (click)="goToRegister()">Register</span></p>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
