/* Background Section */
.auth-background {
  background: url('../../../../../assets/media/login-bg.png') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Glass Effect */
.glass-effect {
  background: rgb(255 255 255 / 4%);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(255 255 255 / 98%);
  padding: 33px 20px 59px;
  width: 100%;
  max-width: 500px;
}

/* Form Inputs */
.input-style {
  background: rgb(255 255 255 / 0%);
  border: 1px solid white;
  padding: 7px 11px;
  border-radius: 9px;
  color: white;
  font-size: 14px;
}

.input-style:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

/* Button Styling */
.btn-glass {


  background: var(--primary-theme-color);
  border: none;
  padding: 5px 20px;
  color: white;
  font-size: 14px;
  border-radius: 9px;
  transition: all 0.3s ease;
  width: 100%;
}


/* Text Styling */
.text-white {
  color: white;
}

/* General Styling */
.auth-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  width: 20%;
}

.goto-login {
  cursor: pointer;
  text-align: center;
  margin-bottom: 0;
  font-size: 14px;
  color: white;
}

input::placeholder {
  color: white;
  opacity: 0.8;
}